* {
  background-color: transparent !important;
}

html * {
  background: url(images/background.png) no-repeat center center fixed;;
}

.title{
	margin-left: 40%;
	margin-top: 10%;
	font-family:'Trebuchet MS', sans-serif;
	font-size: 2vw;
	font-weight: bold;
	color: white;	
	user-select: none;
	pointer-events: none;
}

.subtitle{
	margin-left: 42%;
	font-family:'Trebuchet MS', sans-serif;
	font-size: 1vw;
	font-weight: bold;
	color: white;	
	
	user-select: none;
	pointer-events: none;
}

.title_glow{
	color: #e6e18f;
	text-shadow: 0 0 15px #e6e18f;
}

#portrait{
	max-width: 10%;
	max-height: 10%;
	position: absolute;
	top: 2%;
	left: 1%;
	border-radius: 50%;
	border: 6px solid #6D7F3F;
	user-select: none;
	pointer-events: none;
}

.menubar{
	background-color: transparent;
	list-style: none;
	margin-left: 27%;
	margin-top: 3%;
	display: inline-flex;
}

.navbarbutton a {
  padding-right: 10vw;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: arial, rounded, ms, bold;
  color: white;
  font-size: 2vw;
  font-weight: bold;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.contactbutton{
	margin-left: 46.5%;
	margin-top: 1%;
	font-family:'Trebuchet MS', sans-serif;
	font-size: 1vw;
	font-weight: bold;
	color: white;	
	width: 7%;
	padding-bottom: .5%;
	padding-top: .5%;
	border-radius: 10%;
}

.content_boxes{
	display: flex;
	gap: 5%;
	justify-content: center;
	flex-direction: row;
}

.box{
	color:white;
	border-top: solid #e6e18f 6px;
	border-bottom: solid #e6e18f 6px;
	user-select: none;
	pointer-events: none;
	border-radius: 5%;
	margin-top: 5%;
	width: 25%;
	height: 20%;
}

#boxtitle{
	font-size: 2vw;
	font-family: arial, rounded, ms, bold;
	text-align: center;	
}

#boxcontent{
	font-size: 1vw;
	font-family: arial, rounded, ms, bold;
	text-align: center;	
}



@media (max-width: 768px) {

	html * {
		background: url(images/backgroundmobile.png) no-repeat center center fixed;;
	}

	#portrait{
		max-width: 15%;
		max-height: 15%;
		position: absolute;
		top: 2%;
		left: 1%;
		border-radius: 50%;
		border: 6px solid #6D7F3F;
		user-select: none;
		pointer-events: none;
	}

	.title{
		font-size: 4vh;
		margin-left: 11.5%;
		margin-top: 25%;
	}

	.subtitle{
		font-size: 1.8vh;
		margin-left: 22.5%;
	}

	.menubar{
		margin-left: 17%;
		margin-top: 8.5%;
	}

	.navbarbutton a{
		font-size: 2.5vh;
		padding-right: 2.5vh;
	}

	.contactbutton{
		width: 25%;
		font-size: 2vh;
		margin-left: 38.5%;
	}

	.content_boxes{
		display: flex;
		gap: 5%;
		justify-content: center;
		flex-direction: column;
		margin-top: 5%;
	}
	
	.box{
		color:white;
		border-top: solid #e6e18f 6px;
		border-bottom: solid #e6e18f 6px;
		user-select: none;
		pointer-events: none;
		border-radius: 5%;
		margin-top: 5%;
		width: 50%;
		height: 20%;
		margin-left: 26%;
		margin-bottom: 7.5%;
	}

	#boxtitle{
		font-size: 2.3vh;
		font-family: arial, rounded, ms, bold;
		text-align: center;	
	}
	
	#boxcontent{
		font-size: 1.3vh;
		font-family: arial, rounded, ms, bold;
		text-align: center;	
	}






}